body {
    font-family: sans-serif;
  }
  
  #app {
    width: 400px;
    display: inline-block;
  }
  
  input {
    width: 100%;
    height: 30px;
  }
  
  .suggestion-container {
    display: none;
    border: 1px solid black;
    max-height: 300px;
    overflow-y: scroll;
    width: 100%;
  }
  
  .suggestion-visible {
    display: block;
  }
  